<app-nav-bar></app-nav-bar>

<style>
    @import url('http://fonts.cdnfonts.com/css/merton');
    </style>



<h1> City List </h1>

<div class="buttons-cont">
    <button class="hover" style="border-radius: 10px; display: block;padding: 3px 42px; text-align: center;font-size: 16px;background-color: transparent;"(click)="findByContinent('Africa')">Africa</button>
    <button class="hover" style="border-radius: 10px; display: block;padding: 3px 47px; text-align: center;font-size: 16px;background-color: transparent;"(click)="findByContinent('Asia')">Asia</button>
    <button class="hover" style="border-radius: 10px; display: block;padding: 3px 37px; text-align: center;font-size: 16px;background-color: transparent;"(click)="findByContinent('Europe')">Europe</button>
    <button class="hover" style="border-radius: 10px; display: block;padding: 3px 13px; text-align: center;font-size: 16px;background-color: transparent;"(click)="findByContinent('North America')">North America</button>
    <button class="hover" style="border-radius: 10px; display: block;padding: 3px 34px; text-align: center;font-size: 16px;background-color: transparent;"(click)="findByContinent('Oceania')">Oceania</button>
    <button class="hover" style="border-radius: 10px; display: block;padding: 3px 12px; text-align: center;font-size: 16px;background-color: transparent;"(click)="findByContinent('Latin America')">South America</button>
    <button class="hover" style="border-radius: 10px; display: block;padding: 3px 22px; text-align: center;font-size: 16px;background-color: transparent;"(click)="findByContinent('Middle East')">Middle East</button>

    

</div>

<div class="selectionbuttons">
    <input class=insert-import type="number" placeholder="Insert a max.Cost of living" (keyup.enter)="findByCostOfLifeLessThanAndSafetyIsAndInternetIs()" [(ngModel)]="costOfLife" />
   
    <!-- <input type="number" placeholder="Insert a max.Cost of living" (keyup.enter)="findByCostOfLifeLessThanAndSafetyIsAndInternetIs()
        <option *ngFor="let city of cities" [value]="city.city">{{city.city}}</option> -->
    <button [ngClass]="{'filter-button': !internetIsSelected, 'filter-button-selected': internetIsSelected}"(click)="swapInternet()"><b>Internet</b></button>
    <button [ngClass]="{'filter-button': !safetyIsSelected, 'filter-button-selected': safetyIsSelected}"(click)="swapSafety()"><b>Safety</b></button>
    <button class="filter-button"><b>Lack of Crime</b></button>
    <button [ngClass]="{'filter-button': !walkabilitySelected, 'filter-button-selected': walkabilitySelected}"(click)="swapWalkability()"><b>Walkability</b></button>
    <button class="filter-button"><b>Lack of racism</b></button>
    <button class="filter-button"><b>Friendly to foreigners</b></button><br>
    <input class=insert-import type="number" placeholder="Insert a min.Score"/>
    <button [ngClass]="{'filter-button': !femaleFriendlySelected, 'filter-button-selected': femaleFriendlySelected}"(click)="swapFemaleFriendly()"><b>Female friendly</b></button>
    <button class="filter-button"><b>Freedom of speech</b></button>
    <button [ngClass]="{'filter-button': !englishSpeakingSelected, 'filter-button-selected': englishSpeakingSelected}"(click)="swapEnglishSpeaking()"><b>English speaking</b></button>
    <button [ngClass]="{'filter-button': !funSelected, 'filter-button-selected': funSelected}"(click)="swapFun()"><b>Fun</b></button>
    <button [ngClass]="{'filter-button': !nightlifeSelected, 'filter-button-selected': nightlifeSelected}"(click)="swapNightlife()"><b>Nightlife</b></button>
    <button [ngClass]="{'filter-button': !nearBeachSelected, 'filter-button-selected': nearBeachSelected}"(click)="swapNearBeach()"><b>Near of a beach</b></button>


<section class="city-container" *ngFor="let city of selectedCities | paginate: {itemsPerPage: 8, currentPage: page, totalItems: totalCities}">

    <article class="city-title"> {{city.city}} - {{city.country}}</article>
    <article class="imagen">
        <a [routerLink]="['/cities', city.city]">
            <img style="width: 300px; height: 200px;" src= {{city.photo}} alt="" >
        </a>
    </article>
    
    <!-- (click)="findByCity(city.city)" /////funcion a incluir arriba-->
    
    <!-- <div class="city"> -->
    <!-- <img> mat-button (click)="openDialog(city)" src="{{city.photo}}" alt="{{city.city}}"> -->
    <!-- <h2>{{city.city}}</h2> -->
   
</section>

<!-- <a href="http://www.secretariaplus.com"> <img src="ejecutivaanimada.gif"> </a> -->
<div pagination>
    <pagination-controls style="position:absolute; bottom:0px; right:200px;"(pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
</div>