<app-nav-bar></app-nav-bar>

<div class="container">
    <h1> City List </h1>

<div class="continent selection buttons">
    <button (click)="findByContinent('Africa')">Africa</button>
    <button (click)="findByContinent('Asia')">Asia</button>
    <button (click)="findByContinent('Europe')">Europe</button>
    <button (click)="findByContinent('North America')">North America</button>
    <button (click)="findByContinent('Oceania')">Oceania</button>
    <button (click)="findByContinent('Latin America')">South America</button>
    <button (click)="findByContinent('Middle East')">Middle East</button>

 

</div>

<div class="selection buttons">
    <!-- <input type="number" placeholder="Insert a min.Score" (keyup.enter)=""> -->
    <!-- <input type="number" placeholder="Insert a max.Cost of living" (keyup.enter)="findByCostOfLifeLessThanAndSafetyIsAndInternetIs()
        <option *ngFor="let city of cities" [value]="city.city">{{city.city}}</option> -->
    <button (click)="cities">Internet</button>
    <button (click)="cities">Safety</button>
    <button (click)="cities">Lack of Crime</button>
    <button (click)="cities">Walkability</button>
    <button (click)="cities">Lack of racism</button>
    <button (click)="cities">Friendly to foreigners</button>
    <button (click)="cities">Female friendly</button>
    <button (click)="cities">LGTBTQ friendly</button>
    <button (click)="cities">Freedom of speech</button>
    <button (click)="cities">English speaking</button>
    <button (click)="cities">Fun</button>
    <button (click)="cities">Nightlife</button>
    <button (click)="cities">Near of a beach</button>


</div>
<div class="city-container" *ngFor="let city of cities">
    <p class="city-title"> {{city.city}} - {{city.country}}</p>
    <a routerLink="/cityDetail"><img src= {{city.photo}} alt="" data-i="1" data-slug="warsaw"> </a>
    <!-- <div class="city"> -->
    <!-- <img> mat-button (click)="openDialog(city)" src="{{city.photo}}" alt="{{city.city}}"> -->
    <!-- <h2>{{city.city}}</h2> -->
   
</div>

<!-- <a href="http://www.secretariaplus.com"> <img src="ejecutivaanimada.gif"> </a> -->
