

html {
    background-color: rgb(50, 53, 50);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;  /* ou top center, bottom center, etc /adjust the image to the page*/
    background-image: url("https://assets.media-platform.com/bi/dist/images/2018/11/22/5b1af0501ae66219008b4b49.png");
    background-attachment: fixed;
    font-family: 'Merton', sans-serif
    }




