<app-nav-bar></app-nav-bar>

<div class="container">
    <h1>{{ city.city }} - {{ city.country }}</h1>
    <img src= {{city.photo}} alt="" weigh="200">
    <!-- <button (click)="goBack()">Back</button> -->
    <h3> Total score: {{city.totalScore}}/5</h3>
    <h3> Cost of life: {{city.costOfLife}}$/month </h3>
    <h3> Internet: {{city.internet}}</h3>
    <h3> Safety: {{city.safety}} </h3>
    <h3> Lack of crime: {{city.lackOfCrime}} </h3>
    <h3> Walkability: {{city.walkability}} </h3>
    <h3> Lack of racism: {{city.racism}} </h3>
    <h3> Friendly to foreigners: {{city.foreignersFriendly}} </h3>
    <h3> Female friendly: {{city.femaleFriendly}} </h3>
    <h3> LGTBTQ friendly: {{city.lgbtqFriendly}} </h3>
    <h3> Freedom of speech: {{city.freedomOfSpeech}} </h3>
    <h3> English speaking: {{city.englishSpeaking}} </h3>
    <h3> Fun: {{city.fun}} </h3>
    <h3> Nightlife: {{city.nightlife}} </h3>
    <h3> Near of a beach: {{city.nearBeach}} </h3>
</div>




