<app-nav-bar></app-nav-bar>

<body>
<div class="container">    
    <img style="border:6px solid rgb(50, 53, 50);border-radius:4px;display:block;margin-left:auto;margin-right:auto;margin-top:5%; width:40%" src= {{city.photo}} alt="">
    <!-- <button (click)="goBack()">Back</button> -->
  
    <ul style="position: absolute; top:75px; left: 1100px;" class="lista1">
        <h2>Season: November to April</h2>
        <ul class="season1">
            <li style="font-size: 20px;list-style:none;"><b>Temperature (Feels): {{ weatherList[0].feelWeather }} ({{ weatherList[0].feelTemperature }}º)</b></li>
            <li style="font-size: 20px;list-style:none;"><b>Temperature (Real): {{ weatherList[0].realWeather }} ({{ weatherList[0].realTemperature }}º)</b></li>
            <li style="font-size: 20px;list-style:none;"><b>Humidity: {{ weatherList[0].feelDamp }} ({{ weatherList[0].humidity }}%)</b></li>
            <li style="font-size: 20px;list-style:none;"><b>Rain: {{ weatherList[0].isRainy }} ({{ weatherList[0].rain }}mm)</b></li>
        </ul>
        <h2>Season: May to October</h2>
        <ul class="season2">
            <li style="font-size: 20px;list-style:none;"><b>Temperature (Feels): {{ weatherList[1].feelWeather }} ({{ weatherList[1].feelTemperature }}º)</b></li>
            <li style="font-size: 20px;list-style:none;"><b>Temperature (Real): {{ weatherList[1].realWeather }} ({{ weatherList[1].realTemperature }}º)</b></li>
            <li style="font-size: 20px;list-style:none;"><b>Humidity: {{ weatherList[1].feelDamp }} ({{ weatherList[1].humidity }}%)</b></li>
            <li style="font-size: 20px;list-style:none;"><b>Rain: {{ weatherList[1].isRainy }} ({{ weatherList[1].rain }}mm)</b></li>
        </ul>
    </ul>

    <ul style="position: absolute; top:110px; left: 30px;" class="lista2">
    <li style="font-size: 50px;list-style:none;">{{ city.city }}</li>
    <li style="font-size: 35px;list-style:none;"><b> {{ city.country }}</b></li>
    <li style="font-size: 20px;list-style:none;"><b> Total score: {{city.totalScore}}/5</b></li>
    <li style="font-size: 20px;list-style:none;"><b> Cost of life: {{city.costOfLife}}$/month</b> </li>
    <li style="font-size: 20px;list-style:none;"><b> Remote workers in the city: {{city.remoteWorkers}}</b> </li>
    <li style="font-size: 20px;list-style:none;"><b> Internet: {{city.internet}}</b></li>  
    <li style="font-size: 20px;list-style:none;"><b> English speaking: {{city.englishSpeaking}}</b> </li>
    <li style="font-size: 20px;list-style:none;"><b> Freedom of speech: {{city.freedomOfSpeech}}</b> </li>
    <li style="font-size: 20px;list-style:none;"><b> Safety: {{city.safety}}</b> </li>
    <li style="font-size: 20px;list-style:none;"><b> Lack of crime: {{city.lackOfCrime}}</b> </li>
    <li style="font-size: 20px;list-style:none;"><b> Walkability: {{city.walkability}}</b> </li>
    <li style="font-size: 20px;list-style:none;"><b> Lack of racism: {{city.racism}}</b> </li>
    <li style="font-size: 20px;list-style:none;"><b> Friendly to foreigners: {{city.foreignersFriendly}}</b> </li>
    <li style="font-size: 20px;list-style:none;"><b> Female friendly: {{city.femaleFriendly}}</b> </li>
    <!-- <li style="font-size: 20px;list-style:none;"> LGTBTQ friendly: {{city.lgbtqFriendly}} </li> // no aparecen datos--> 
    <li style="font-size: 20px;list-style:none;"><b> Fun: {{city.fun}}</b> </li>
    <li style="font-size: 20px;list-style:none;"><b> Nightlife: {{city.nightlife}}</b> </li>
    <li style="font-size: 20px;list-style:none;"><b> Near of a beach: {{city.nearBeach}}</b> </li>
    </ul>
</div>

<!-- <div class="buttons-cont">
    <button style="border-radius: 10px; display: block;padding: 3px 42px; text-align: center;font-size: 16px;background-color: transparent;"(click)="findByCitySeason('Africa')">Season from November to April</button>
    <button style="border-radius: 10px; display: block;padding: 3px 47px; text-align: center;font-size: 16px;background-color: transparent;"(click)="findByCitySeason('Asia')">Season from May to October</button>
    </div> -->

    <!-- MOSTRAR BONITO USANDO UN NGFOR O ACCEDIENDO DIRECTAMENTE LA INFO DE CADA WEATHER  -->

    <!-- <form>
    <textarea style="border-radius: 10px;border:5px solid rgb(50, 53, 50);font-family: 'Merton', sans-serif;font-size:13px;padding: 3px 32px;background-color:#f2cc8f ;position:absolute;top:600px;left:1100px;" name="comment" rows=5 cols=40>
    Introduce your experiences/comments 😊...
    </textarea>
    </form> 
 -->

