
.paragraph {
    width: 1000px;
    height:14px; 
    top:45px; 
    margin-right:0px; 
    padding-right:0px; 
    float:both; 
    position:relative; 
    overflow:hidden; 
    list-style:none;
    float:right;
}

