<app-nav-bar></app-nav-bar>
    <style>
        @import url('http://fonts.cdnfonts.com/css/merton');
        </style>

<div class="container">
  <mat-card class="card">
      <mat-card-header>
          <mat-card-title style="position: absolute; top:30px; left: 1213px;" >Welcome {{username}}</mat-card-title>
          
      </mat-card-header>
      <mat-card-content>
          <div class="login-container">
              <div  style="position: absolute; top:40px; left: 750px;" class="login-fields">
                 <h2  style="">Congratulation !!</h2>
                 <p>if you're seeing this, that means you were able to create a <br />
                  account and successfully log in to the app</p>
              </div>
              <div>
                  <img src="./assets/welcome-home.png" alt="">
              </div>
          </div>
      </mat-card-content>

  </mat-card>
</div>



         



      
      