<!-- <div class="menu-gradient">
    <div>
        <a class= login mat-button color="primary" [routerLink]="['/']">Home</a>
        <a mat-button color="warn" (click)="logout()">Logout</a>
    </div>
</div> -->





<!-- <div class=></div> -->

<!-- <div class="container" >
    <h1> This is about Us Component </h1>
    <h3> This is the content of About Us </h3>
  </div> -->

  <!-- <div class="bg-img">
    <div class="container" routerLink="">DIGITAL NOMAD
    <mat-tab-group mat-align-tabs="end">
      <mat-tab label="Places" routerLink=""></mat-tab>
      <mat-tab label="Community" routerLink=""></mat-tab>
      <mat-tab label="Login" >
        <a routerLink="login">login</a>
      </mat-tab>
    </mat-tab-group> -->

    <div class="bg-img">
        <div class="container" routerLink="">DIGITAL NOMAD</div>

          <a style= "background-color:transparent" routerLink="/cities">"PLACES"</a>
          <a style= "background-color:transparent" routerLink="/">"Community"</a>
          <a style= "background-color:transparent" routerLink="/login">"LOGIN"</a>

      </div>


      